

<div id="flex-container1">
  <div class="flexitem1">Jaya  </div>
  <div class="lastname"> Punjabi </div>
</div>

<div id="flex-container2">
  <div class="flexitem2">Jaya  Punjabi</div>
</div>

<div class="grid-container">
 <div class="grid-item">
   <span *ngFor="let index of loop">
    <p>2 X {{ index }} = {{ index * 2 }}</p>
  </span>

</div>
  <div class="grid-item"><span  *ngFor = "let index of loop"> <p> 3 X {{index}} = {{ index * 3 }} </p> 
                         </span>
  </div>
  <div class="grid-item"><span  *ngFor = "let index of loop">  <p> 4 X {{index}} = {{ index*4 }} </p> 
                         </span>
  </div>  
   
</div>

<router-outlet></router-outlet>
